body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000428, #004e92);
    font-family: Arial, sans-serif;
}

.container {
    width: 900px;
    height: 200px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input[type="number"],
.input-group input[type="text"],
.input-group select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

#outputValue {
    background-color: #f9f9f9;
}

